@model LawBringer.Models.Lawyer
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <img class=" img-responsive" src="@Model.Image" />
    </div>
    <div class="col-xs-12 col-sm-8">
        <div class="well">
            <h2>@Model.Name</h2>
            <p>@Model.City</p>
            <p>@Model.Price.ToString("C")</p>
        </div>
    </div>
    @using (Html.BeginForm("Index", "Lawyer", FormMethod.Post, new { @class = "myClass" }))
    {
             @Html.HiddenFor(m => m.Name)
             @Html.HiddenFor(m => m.City)
             @Html.HiddenFor(m => m.Price)
        <div class="form-group">
            @Html.LabelFor(m => m.HelpType, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.HelpType, Model.AvailableHelpTypes.Select(x => new SelectListItem { Text = x, Value = x }))
            @Html.LabelFor(m => m.TimeSlot, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.TimeSlot, Model.AvailableDays.Select(x => new SelectListItem { Text = x.ToShortDateString(), Value = x.ToString() }))
        </div>
        <div>
            <input type="submit" class="btn btn-default" value="Order your Lawyer" />
        </div>
    }
    </div>

