@model LawBringer.Models.Cart
 
 @{  
     ViewBag.Title = "Index";
     
}
      
@if (TempData.ContainsKey("NewItem"))
{
    <div class="alert alert-success" >
        @TempData["NewItem"].ToString() has been selected to help!
    </div>
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.ID)
    @Html.AntiForgeryToken()
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Base Price</th>
                <th>Law Type</th>
                <th>Selected Day</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>
                       @Model.Lawyer.Name
                    </td>
                    <td>
                        @Model.Lawyer.City
                    </td>
                    <td>
                        @((Model.Lawyer.Price ?? 0).ToString("C"))
                    </td>
                    <td>
                        @Model.HelpType.Description
                    </td>
                    <td>
                        @Model.Day.ToShortDateString()
                    </td>
                    
                </tr>
        </tbody>
        <tfoot>
            @*@<tr>
                <th colspan="3">Tax</th>
                <th>@Tax.ToString("C")</th>
            </tr>
            <tr>
                <th colspan="3">Service Charge</th>
                <th>@ServiceCharge.ToString("C")</th>
            </tr>
            <tr>
                <th colspan="3">Total</th>
                <th>@Total.ToString("C")</th>
            </tr>*@
        </tfoot>
    </table>
@Html.ActionLink("Check Out", "Index", "Checkout", null, new { @class = "btn btn-primary" })
}

